@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'media.scss';
@import 'typography.scss';

@layer base {
  :root {
    --precision-ui-tw-background: 0 0% 100%;
    --precision-ui-tw-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-card: 0 0% 100%;
    --precision-ui-tw-card-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-popover: 0 0% 100%;
    --precision-ui-tw-popover-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-navy: 213.75, 78.43%, 27.45%;
    --precision-ui-tw-navy-opacity-4: 213.75, 78.43%, 27.45%, 0.04;
    --precision-ui-tw-navy-opacity-16: 213.75, 78.43%, 27.45%, 0.16;
    --precision-ui-tw-navy-opacity-32: 213.75, 78.43%, 27.45%, 0.32;
    --precision-ui-tw-navy-opacity-40: 213.75, 78.43%, 27.45%, 0.4;
    --precision-ui-tw-navy-opacity-60: 213.75, 78.43%, 27.45%, 0.6;

    --precision-ui-tw-sapphire: 219, 98%, 44%;
    --precision-ui-tw-turquoise: 181, 100%, 41%;
    --precision-ui-tw-turquoise-opacity-16: 181, 100%, 41%, 0.16;

    --precision-ui-tw-whitish: 0, 0%, 100%;
    --precision-ui-tw-whitish-opacity-8: 0, 0%, 100%, 0.08;
    --precision-ui-tw-whitish-opacity-16: 0, 0%, 100%, 0.16;
    --precision-ui-tw-whitish-opacity-32: 0, 0%, 100%, 0.32;
    --precision-ui-tw-whitish-opacity-60: 0, 0%, 100%, 0.6;

    --precision-ui-tw-grey-1: 0, 0%, 95%;
    --precision-ui-tw-grey-2: 0, 0%, 97%;

    --precision-ui-tw-danger: 1, 88%, 50%;

    --precision-ui-tw-primary: 222.2 47.4% 11.2%;
    --precision-ui-tw-primary-foreground: 210 40% 98%;

    --precision-ui-tw-secondary: 210 40% 96.1%;
    --precision-ui-tw-secondary-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --precision-ui-tw-accent: 210 40% 96.1%;
    --precision-ui-tw-accent-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-destructive: 0 84.2% 60.2%;
    --precision-ui-tw-destructive-foreground: 210 40% 98%;

    --precision-ui-tw-border: 214.3 31.8% 91.4%;
    --precision-ui-tw-input: 214.3 31.8% 91.4%;
    --precision-ui-tw-ring: 222.2 84% 4.9%;

    --precision-ui-tw-radius: 0.5rem;
  }

  .dark {
    --precision-ui-tw-navy: 203.75, 78.43%, 67.45%;
    --precision-ui-tw-background: 222.2 84% 4.9%;
    --precision-ui-tw-foreground: 210 40% 98%;

    --precision-ui-tw-card: 222.2 84% 4.9%;
    --precision-ui-tw-card-foreground: 210 40% 98%;

    --precision-ui-tw-popover: 222.2 84% 4.9%;
    --precision-ui-tw-popover-foreground: 210 40% 98%;

    --precision-ui-tw-primary: 210 40% 98%;
    --precision-ui-tw-primary-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-secondary: 217.2 32.6% 17.5%;
    --precision-ui-tw-secondary-foreground: 210 40% 98%;

    --precision-ui-tw-muted: 217.2 32.6% 17.5%;
    --precision-ui-tw-muted-foreground: 215 20.2% 65.1%;

    --precision-ui-tw-accent: 217.2 32.6% 17.5%;
    --precision-ui-tw-accent-foreground: 210 40% 98%;

    --precision-ui-tw-destructive: 0 62.8% 30.6%;
    --precision-ui-tw-destructive-foreground: 210 40% 98%;

    --precision-ui-tw-border: 217.2 32.6% 17.5%;
    --precision-ui-tw-input: 217.2 32.6% 17.5%;
    --precision-ui-tw-ring: 212.7 26.8% 83.9%;
  }
}

body {
  font-family: 'TT Commons', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // font-feature-settings: "rlig" 1, "calt" 1;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.link,
.link_navy,
.link_white {
  transition: all ease 0.25s;
  background-image: linear-gradient(
    to top,
    rgba(0, 85, 144, 0) 1px,
    transparent 1px
  );
  background-repeat: repeat-x;
  background-position: 0 0px;
  text-decoration: none;
}
