@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --precision-ui-tw-background: 0 0% 100%;
    --precision-ui-tw-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-card: 0 0% 100%;
    --precision-ui-tw-card-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-popover: 0 0% 100%;
    --precision-ui-tw-popover-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-primary: 222.2 47.4% 11.2%;
    --precision-ui-tw-primary-foreground: 210 40% 98%;

    --precision-ui-tw-secondary: 210 40% 96.1%;
    --precision-ui-tw-secondary-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --precision-ui-tw-accent: 210 40% 96.1%;
    --precision-ui-tw-accent-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-destructive: 0 84.2% 60.2%;
    --precision-ui-tw-destructive-foreground: 210 40% 98%;

    --precision-ui-tw-border: 214.3 31.8% 91.4%;
    --precision-ui-tw-input: 214.3 31.8% 91.4%;
    --precision-ui-tw-ring: 222.2 84% 4.9%;

    --precision-ui-tw-radius: 0.5rem;
  }

  .dark {
    --precision-ui-tw-background: 222.2 84% 4.9%;
    --precision-ui-tw-foreground: 210 40% 98%;

    --precision-ui-tw-card: 222.2 84% 4.9%;
    --precision-ui-tw-card-foreground: 210 40% 98%;

    --precision-ui-tw-popover: 222.2 84% 4.9%;
    --precision-ui-tw-popover-foreground: 210 40% 98%;

    --precision-ui-tw-primary: 210 40% 98%;
    --precision-ui-tw-primary-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-secondary: 217.2 32.6% 17.5%;
    --precision-ui-tw-secondary-foreground: 210 40% 98%;

    --precision-ui-tw-muted: 217.2 32.6% 17.5%;
    --precision-ui-tw-muted-foreground: 215 20.2% 65.1%;

    --precision-ui-tw-accent: 217.2 32.6% 17.5%;
    --precision-ui-tw-accent-foreground: 210 40% 98%;

    --precision-ui-tw-destructive: 0 62.8% 30.6%;
    --precision-ui-tw-destructive-foreground: 210 40% 98%;

    --precision-ui-tw-border: 217.2 32.6% 17.5%;
    --precision-ui-tw-input: 217.2 32.6% 17.5%;
    --precision-ui-tw-ring: 212.7 26.8% 83.9%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
