@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'media.scss';
@import 'typography.scss';

html {
  font-size: 20px;
  font-size: 16px;
  /* FIXME: it was 20, explore and fix if needed */
}

@layer base {
  :root {
    /* TODO: check all colors from Figma */
    /* init */
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    /* shad */
    --precision-ui-tw-background: 0 0% 100%;
    --precision-ui-tw-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --precision-ui-tw-popover: 0 0% 100%;
    --precision-ui-tw-popover-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-border: 214.3 31.8% 91.4%;
    --precision-ui-tw-input: 214.3 31.8% 91.4%;

    --precision-ui-tw-card: 0 0% 100%;
    --precision-ui-tw-card-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-navy: 219, 98%, 24%;
    --precision-ui-tw-navy-opacity-4: 219, 98%, 24%, 0.04;
    --precision-ui-tw-navy-opacity-4-absolute: 216, 12%, 92%;
    --precision-ui-tw-navy-opacity-8: 219, 98%, 24%, 0.08;
    /* above not in Figma, just for inputs */
    --precision-ui-tw-navy-opacity-16: 219, 98%, 24%, 0.16;
    --precision-ui-tw-navy-opacity-32: 219, 98%, 24%, 0.32;
    --precision-ui-tw-navy-opacity-40: 219, 98%, 24%, 0.4;
    --precision-ui-tw-navy-opacity-60: 219, 98%, 24%, 0.6;
    --precision-ui-tw-navy-opacity-80: 219, 98%, 24%, 0.8;
    /* above not in Figma, for checked checkbox hover */

    --precision-ui-tw-article-verylight: 225, 95%, 59%;
    --precision-ui-tw-article-ultramarine: 235, 88%, 69%;

    --precision-ui-tw-sapphire: 219, 98%, 44%;
    --precision-ui-tw-sapphire-hover: 219, 78%, 62%;
    --precision-ui-tw-turquoise: 181, 100%, 41%;
    --precision-ui-tw-turquoise-opacity-16: 181, 100%, 41%, 0.16;
    --precision-ui-tw-turquoise-opacity-20: 181, 100%, 41%, 0.2;
    /* for advantages card */

    --precision-ui-tw-whitish: 0, 0%, 100%;
    --precision-ui-tw-whitish-opacity-8: 0, 0%, 100%, 0.08;
    --precision-ui-tw-whitish-opacity-16: 0, 0%, 100%, 0.16;
    --precision-ui-tw-whitish-opacity-24: 0, 0%, 100%, 0.24;
    --precision-ui-tw-whitish-opacity-32: 0, 0%, 100%, 0.32;
    --precision-ui-tw-whitish-opacity-40: 0, 0%, 100%, 0.4;
    /* above slider pagination element */
    --precision-ui-tw-whitish-opacity-60: 0, 0%, 100%, 0.6;
    --precision-ui-tw-whitish-opacity-80: 0, 0%, 100%, 0.8;
    /* above not in Figma, for checked checkbox hover */

    --precision-ui-tw-grey-1: 0, 0%, 95%;
    --precision-ui-tw-grey-2: 0, 0%, 97%;

    --precision-ui-tw-danger: 1, 88%, 50%;

    --precision-ui-tw-primary: 222.2 47.4% 11.2%;
    --precision-ui-tw-primary-foreground: 210 40% 98%;

    --precision-ui-tw-secondary: 210 40% 96.1%;
    --precision-ui-tw-secondary-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-accent: 210 40% 96.1%;
    --precision-ui-tw-accent-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-destructive: 0 84.2% 60.2%;
    --precision-ui-tw-destructive-foreground: 210 40% 98%;

    --precision-ui-tw-ring: 222.2 84% 4.9%;

    --precision-ui-tw-radius: 0.5rem;
  }

  .dark0 {
    --precision-ui-tw-background: 222.2 84% 4.9%;
    --precision-ui-tw-foreground: 210 40% 98%;

    --precision-ui-tw-muted: 217.2 32.6% 17.5%;
    --precision-ui-tw-muted-foreground: 215 20.2% 65.1%;

    --precision-ui-tw-accent: 217.2 32.6% 17.5%;
    --precision-ui-tw-accent-foreground: 210 40% 98%;

    --precision-ui-tw-popover: 222.2 84% 4.9%;
    --precision-ui-tw-popover-foreground: 210 40% 98%;

    --precision-ui-tw-border: 217.2 32.6% 17.5%;
    --precision-ui-tw-input: 217.2 32.6% 17.5%;

    --precision-ui-tw-card: 222.2 84% 4.9%;
    --precision-ui-tw-card-foreground: 210 40% 98%;

    --precision-ui-tw-primary: 210 40% 98%;
    --precision-ui-tw-primary-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-secondary: 217.2 32.6% 17.5%;
    --precision-ui-tw-secondary-foreground: 210 40% 98%;

    --precision-ui-tw-destructive: 0 62.8% 30.6%;
    --precision-ui-tw-destructive-foreground: 210 40% 98%;

    --precision-ui-tw-ring: 212.7 26.8% 83.9%;
  }

  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --precision-ui-tw-background: 0 0% 0%;
    --precision-ui-tw-foreground: 210 40% 98%;
    --precision-ui-tw-muted: 210 40% 10%;
    --muted-foreground: 215.4 16.3% 80%;
    --precision-ui-tw-popover: 0 0% 0%;
    --precision-ui-tw-popover-foreground: 210 40% 98%;
    --precision-ui-tw-border: 214.3 31.8% 10%;
    --precision-ui-tw-input: 214.3 31.8% 10%;
    --precision-ui-tw-card: 0 0% 0%;
    --precision-ui-tw-card-foreground: 210 40% 98%;
    --precision-ui-tw-navy: 219, 98%, 80%;
    --precision-ui-tw-navy-opacity-4: 219, 98%, 80%, 0.04;
    --precision-ui-tw-navy-opacity-4-absolute: 216, 12%, 10%;
    --precision-ui-tw-navy-opacity-8: 219, 98%, 80%, 0.08;
    --precision-ui-tw-navy-opacity-16: 219, 98%, 80%, 0.16;
    --precision-ui-tw-navy-opacity-32: 219, 98%, 80%, 0.32;
    --precision-ui-tw-navy-opacity-40: 219, 98%, 80%, 0.4;
    --precision-ui-tw-navy-opacity-60: 219, 98%, 80%, 0.6;
    --precision-ui-tw-navy-opacity-80: 219, 98%, 80%, 0.8;
    --precision-ui-tw-article-verylight: 225, 95%, 80%;
    --precision-ui-tw-article-ultramarine: 235, 88%, 80%;
    --precision-ui-tw-sapphire: 219, 98%, 80%;
    --precision-ui-tw-sapphire-hover: 219, 78%, 80%;
    --precision-ui-tw-turquoise: 181, 100%, 80%;
    --precision-ui-tw-turquoise-opacity-16: 181, 100%, 80%, 0.16;
    --precision-ui-tw-turquoise-opacity-20: 181, 100%, 80%, 0.2;
    --precision-ui-tw-whitish: 0, 0%, 0%;
    --precision-ui-tw-whitish-opacity-8: 0, 0%, 0%, 0.08;
    --precision-ui-tw-whitish-opacity-16: 0, 0%, 0%, 0.16;
    --precision-ui-tw-whitish-opacity-24: 0, 0%, 0%, 0.24;
    --precision-ui-tw-whitish-opacity-32: 0, 0%, 0%, 0.32;
    --precision-ui-tw-whitish-opacity-40: 0, 0%, 0%, 0.4;
    --precision-ui-tw-whitish-opacity-60: 0, 0%, 0%, 0.6;
    --precision-ui-tw-whitish-opacity-80: 0, 0%, 0%, 0.8;
    --precision-ui-tw-grey-1: 0, 0%, 10%;
    --precision-ui-tw-grey-2: 0, 0%, 5%;
    --precision-ui-tw-danger: 1, 88%, 80%;
    --precision-ui-tw-primary: 222.2 47.4% 90%;
    --precision-ui-tw-primary-foreground: 210 40% 10%;
    --precision-ui-tw-secondary: 210 40% 10%;
    --precision-ui-tw-secondary-foreground: 222.2 47.4% 90%;
    --precision-ui-tw-accent: 210 40% 10%;
    --precision-ui-tw-accent-foreground: 222.2 47.4% 90%;
    --precision-ui-tw-destructive: 0 84.2% 80%;
    --precision-ui-tw-destructive-foreground: 210 40% 10%;
    --precision-ui-tw-ring: 210 40% 98%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
}

body {
  font-family: 'TT Commons', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-feature-settings: "rlig" 1, "calt" 1; */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.bg-link-gradient {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, transparent 1px, transparent 1px);
    /* background-image: linear-gradient(to top, rgba(255,137,106,.3) 1px, transparent 1px); */
    background-repeat: repeat-x;
    /* background-position: 0 -3px; */
    height: 1px;
    width: 100%;
    transition: all ease 0.3s;
  }
}

.bg-link-white-gradient,
.link_navy,
.link_white {
  @extend .bg-link-gradient;
}

@layer components {
  .bg-link-gradient:hover::before {
    background-color: hsl(var(--precision-ui-tw-navy));
  }

  .link_white:hover::before {
    background-color: hsl(var(--precision-ui-tw-whitish));
  }

  .bg-link-gradient-container {
    &:hover {
      .bg-link-gradient::before {
        background-color: hsl(var(--precision-ui-tw-navy));
      }

      .bg-link-white-gradient::before {
        background-color: white;
      }
    }
  }
}

.link,
.link_navy,
.link_white {
  transition: all ease 0.25s;
  background-image: linear-gradient(
    to top,
    rgba(0, 85, 144, 0) 1px,
    transparent 1px
  );
  background-repeat: repeat-x;
  background-position: 0 0px;
  text-decoration: none;
}
