@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'media.scss';
@import 'typography.scss';

html {
  font-size: 20px;
  font-size: 16px;
  /* FIXME: it was 20, explore and fix if needed */
}

@layer base {
  :root {
    /* TODO: check all colors from Figma */
    /* init */
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    /* shad */
    --precision-ui-tw-background: 0 0% 100%;
    --precision-ui-tw-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --precision-ui-tw-popover: 0 0% 100%;
    --precision-ui-tw-popover-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-border: 214.3 31.8% 91.4%;
    --precision-ui-tw-input: 214.3 31.8% 91.4%;

    --precision-ui-tw-card: 0 0% 100%;
    --precision-ui-tw-card-foreground: 222.2 84% 4.9%;

    --precision-ui-tw-navy: 219, 98%, 24%;
    --precision-ui-tw-navy-opacity-4: 219, 98%, 24%, 0.04;
    --precision-ui-tw-navy-opacity-4-absolute: 216, 12%, 92%;
    --precision-ui-tw-navy-opacity-8: 219, 98%, 24%, 0.08;
    /* above not in Figma, just for inputs */
    --precision-ui-tw-navy-opacity-16: 219, 98%, 24%, 0.16;
    --precision-ui-tw-navy-opacity-32: 219, 98%, 24%, 0.32;
    --precision-ui-tw-navy-opacity-40: 219, 98%, 24%, 0.4;
    --precision-ui-tw-navy-opacity-60: 219, 98%, 24%, 0.6;
    --precision-ui-tw-navy-opacity-80: 219, 98%, 24%, 0.8;
    /* above not in Figma, for checked checkbox hover */

    --precision-ui-tw-article-verylight: 225, 95%, 59%;
    --precision-ui-tw-article-ultramarine: 235, 88%, 69%;

    --precision-ui-tw-sapphire: 219, 98%, 44%;
    --precision-ui-tw-sapphire-hover: 219, 78%, 62%;
    --precision-ui-tw-turquoise: 181, 100%, 41%;
    --precision-ui-tw-turquoise-opacity-16: 181, 100%, 41%, 0.16;
    --precision-ui-tw-turquoise-opacity-20: 181, 100%, 41%, 0.2;
    /* for advantages card */

    --precision-ui-tw-whitish: 0, 0%, 100%;
    --precision-ui-tw-whitish-opacity-8: 0, 0%, 100%, 0.08;
    --precision-ui-tw-whitish-opacity-16: 0, 0%, 100%, 0.16;
    --precision-ui-tw-whitish-opacity-24: 0, 0%, 100%, 0.24;
    --precision-ui-tw-whitish-opacity-32: 0, 0%, 100%, 0.32;
    --precision-ui-tw-whitish-opacity-40: 0, 0%, 100%, 0.4;
    /* above slider pagination element */
    --precision-ui-tw-whitish-opacity-60: 0, 0%, 100%, 0.6;
    --precision-ui-tw-whitish-opacity-80: 0, 0%, 100%, 0.8;
    /* above not in Figma, for checked checkbox hover */

    --precision-ui-tw-grey-1: 0, 0%, 95%;
    --precision-ui-tw-grey-2: 0, 0%, 97%;

    --precision-ui-tw-danger: 1, 88%, 50%;

    --precision-ui-tw-primary: 222.2 47.4% 11.2%;
    --precision-ui-tw-primary-foreground: 210 40% 98%;

    --precision-ui-tw-secondary: 210 40% 96.1%;
    --precision-ui-tw-secondary-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-accent: 210 40% 96.1%;
    --precision-ui-tw-accent-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-destructive: 0 84.2% 60.2%;
    --precision-ui-tw-destructive-foreground: 210 40% 98%;

    --precision-ui-tw-ring: 222.2 84% 4.9%;

    --precision-ui-tw-radius: 0.5rem;
  }

  .dark0 {
    --precision-ui-tw-background: 222.2 84% 4.9%;
    --precision-ui-tw-foreground: 210 40% 98%;

    --precision-ui-tw-muted: 217.2 32.6% 17.5%;
    --precision-ui-tw-muted-foreground: 215 20.2% 65.1%;

    --precision-ui-tw-accent: 217.2 32.6% 17.5%;
    --precision-ui-tw-accent-foreground: 210 40% 98%;

    --precision-ui-tw-popover: 222.2 84% 4.9%;
    --precision-ui-tw-popover-foreground: 210 40% 98%;

    --precision-ui-tw-border: 217.2 32.6% 17.5%;
    --precision-ui-tw-input: 217.2 32.6% 17.5%;

    --precision-ui-tw-card: 222.2 84% 4.9%;
    --precision-ui-tw-card-foreground: 210 40% 98%;

    --precision-ui-tw-primary: 210 40% 98%;
    --precision-ui-tw-primary-foreground: 222.2 47.4% 11.2%;

    --precision-ui-tw-secondary: 217.2 32.6% 17.5%;
    --precision-ui-tw-secondary-foreground: 210 40% 98%;

    --precision-ui-tw-destructive: 0 62.8% 30.6%;
    --precision-ui-tw-destructive-foreground: 210 40% 98%;

    --precision-ui-tw-ring: 212.7 26.8% 83.9%;
  }

  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --precision-ui-tw-background: 0 0% 0%;
    --precision-ui-tw-foreground: 210 40% 98%;
    --precision-ui-tw-muted: 210 40% 10%;
    --muted-foreground: 215.4 16.3% 80%;
    --precision-ui-tw-popover: 0 0% 0%;
    --precision-ui-tw-popover-foreground: 210 40% 98%;
    --precision-ui-tw-border: 214.3 31.8% 10%;
    --precision-ui-tw-input: 214.3 31.8% 10%;
    --precision-ui-tw-card: 0 0% 0%;
    --precision-ui-tw-card-foreground: 210 40% 98%;
    --precision-ui-tw-navy: 219, 98%, 80%;
    --precision-ui-tw-navy-opacity-4: 219, 98%, 80%, 0.04;
    --precision-ui-tw-navy-opacity-4-absolute: 216, 12%, 10%;
    --precision-ui-tw-navy-opacity-8: 219, 98%, 80%, 0.08;
    --precision-ui-tw-navy-opacity-16: 219, 98%, 80%, 0.16;
    --precision-ui-tw-navy-opacity-32: 219, 98%, 80%, 0.32;
    --precision-ui-tw-navy-opacity-40: 219, 98%, 80%, 0.4;
    --precision-ui-tw-navy-opacity-60: 219, 98%, 80%, 0.6;
    --precision-ui-tw-navy-opacity-80: 219, 98%, 80%, 0.8;
    --precision-ui-tw-article-verylight: 225, 95%, 80%;
    --precision-ui-tw-article-ultramarine: 235, 88%, 80%;
    --precision-ui-tw-sapphire: 219, 98%, 80%;
    --precision-ui-tw-sapphire-hover: 219, 78%, 80%;
    --precision-ui-tw-turquoise: 181, 100%, 80%;
    --precision-ui-tw-turquoise-opacity-16: 181, 100%, 80%, 0.16;
    --precision-ui-tw-turquoise-opacity-20: 181, 100%, 80%, 0.2;
    --precision-ui-tw-whitish: 0, 0%, 0%;
    --precision-ui-tw-whitish-opacity-8: 0, 0%, 0%, 0.08;
    --precision-ui-tw-whitish-opacity-16: 0, 0%, 0%, 0.16;
    --precision-ui-tw-whitish-opacity-24: 0, 0%, 0%, 0.24;
    --precision-ui-tw-whitish-opacity-32: 0, 0%, 0%, 0.32;
    --precision-ui-tw-whitish-opacity-40: 0, 0%, 0%, 0.4;
    --precision-ui-tw-whitish-opacity-60: 0, 0%, 0%, 0.6;
    --precision-ui-tw-whitish-opacity-80: 0, 0%, 0%, 0.8;
    --precision-ui-tw-grey-1: 0, 0%, 10%;
    --precision-ui-tw-grey-2: 0, 0%, 5%;
    --precision-ui-tw-danger: 1, 88%, 80%;
    --precision-ui-tw-primary: 222.2 47.4% 90%;
    --precision-ui-tw-primary-foreground: 210 40% 10%;
    --precision-ui-tw-secondary: 210 40% 10%;
    --precision-ui-tw-secondary-foreground: 222.2 47.4% 90%;
    --precision-ui-tw-accent: 210 40% 10%;
    --precision-ui-tw-accent-foreground: 222.2 47.4% 90%;
    --precision-ui-tw-destructive: 0 84.2% 80%;
    --precision-ui-tw-destructive-foreground: 210 40% 10%;
    --precision-ui-tw-ring: 210 40% 98%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
}

body {
  font-family: 'TT Commons', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-feature-settings: "rlig" 1, "calt" 1; */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

body {
  color: hsl(var(--precision-ui-tw-navy));
  background: hsl(var(--precision-ui-tw-grey-1));
  /* background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  #__next {
    @apply h-full;
  }

  .container {
    @media (min-width: 0) and (max-width: 768px) {
      padding: 0 1.25rem;
    }
    /* @apply max-w-xs px-40 self-center; */
  }
}

.bg-link-gradient {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, transparent 1px, transparent 1px);
    /* background-image: linear-gradient(to top, rgba(255,137,106,.3) 1px, transparent 1px); */
    background-repeat: repeat-x;
    /* background-position: 0 -3px; */
    height: 1px;
    width: 100%;
    transition: all ease 0.3s;
  }
}

.bg-link-white-gradient,
.link_navy,
.link_white {
  @extend .bg-link-gradient;
}

@layer components {
  .bg-link-gradient:hover::before {
    background-color: hsl(var(--precision-ui-tw-navy));
  }

  .link_white:hover::before {
    background-color: hsl(var(--precision-ui-tw-whitish));
  }

  .bg-link-gradient-container {
    &:hover {
      .bg-link-gradient::before {
        background-color: hsl(var(--precision-ui-tw-navy));
      }

      .bg-link-white-gradient::before {
        background-color: white;
      }
    }
  }

  .link,
  .link_navy,
  .link_white {
    transition: all ease 0.25s;
    background-image: linear-gradient(
      to top,
      rgba(0, 85, 144, 0) 1px,
      transparent 1px
    );
    background-repeat: repeat-x;
    background-position: 0 0px;
    text-decoration: none;
  }

  .link:hover {
    background-image: linear-gradient(
      to top,
      hsl(var(--precision-ui-tw-turquoise)) 1px,
      transparent 1px
    );
  }

  .link_navy:hover {
    background-image: linear-gradient(
      to top,
      hsl(var(--precision-ui-tw-navy)) 1px,
      transparent 1px
    );
  }

  .link_white:hover {
    background-image: linear-gradient(
      to top,
      hsl(var(--precision-ui-tw-whitish)) 1px,
      transparent 1px
    );
  }

  .link_turq {
    color: hsla(var(--precision-ui-tw-turquoise));
    @extend .link;
  }

  // link2 is experiment

  .link2,
  .link_navy2 {
    background-image: linear-gradient(
      transparent 50%,
      hsl(var(--precision-ui-tw-turquoise)) 50%
    );
    // background-size: auto 175%;
    background-size: auto 200%;
    transition: background 0.15s ease-in;
  }

  .link_navy2 {
    @extend .link2;
    background-image: linear-gradient(
      transparent 50%,
      hsl(var(--precision-ui-tw-navy)) 50%
    );
    background-size: auto 200%;
  }

  .link2:hover {
    background-position-y: 8.35%;
    // color: white;
  }
}

body {
  overflow-x: hidden; /* Prevent horizontal scroll */
  margin: 0; /* Reset margin */
}

.menu-open #main-content {
  transform: translateX(
    300px
  ); /* Adjust this value based on your side menu width */
}

#main-content {
  transition: transform 0.6s ease;
}

.section-gradient {
  background: linear-gradient(
    to right,
    --precision-ui-tw-primary,
    --precision-ui-tw-secondary
  );
}

.right-divider {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: hsla(
      var(--precision-ui-tw-whitish-opacity-24)
    ); // TODO: 20 on figma, not in ui kit
  }
}

.right-divider_with-tongue {
  position: relative;

  &::before {
    @extend .right-divider;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 63%;
    height: 1px;
    width: 24px;
    background: hsla(var(--precision-ui-tw-whitish-opacity-24));
  }
}

.achievement-divider {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: -8px;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: hsla(var(--precision-ui-tw-navy-opacity-16));
  }
}

.input-container {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 8px;
    bottom: 0;
    height: 1px;
    width: calc(100% - 16px);
    background: transparent;
    transition: all ease 0.3s;
    // background: hsla(var(--precision-ui-tw-navy-opacity-32));
    // background: red;
  }

  &_variant {
    &_default {
      &::before {
        @extend .input-container;
        background: hsla(var(--precision-ui-tw-navy-opacity-16));
      }

      &:hover {
        &::before {
          @extend .input-container;
          background: hsla(var(--precision-ui-tw-navy));
        }
      }
    }

    &_blue {
      &::before {
        @extend .input-container;
        background: hsla(var(--precision-ui-tw-whitish-opacity-32));
      }

      &:hover {
        &::before {
          @extend .input-container;
          background: hsla(var(--precision-ui-tw-whitish));
        }
      }
    }
  }
}

.horizontal-white-divider-on-center {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    background: hsla(var(--precision-ui-tw-whitish-opacity-16));
  }
}

// TODO: rename
.vertical-white-divider-on-center {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 88px;
    width: 1px;
    background: hsla(var(--precision-ui-tw-whitish-opacity-16));
  }
}

.author-card {
  transition: transform 0.2s ease;
  // will-change: transform;

  &:hover {
    transform: scale3d(1.02, 1.02, 1.02);
  }
}

.breadcrumbs {
  overflow: hidden;
}

.breadcrumbs {
  counter-reset: list-item;
  list-style: none;
  padding: 0;
}

.breadcrumbs li {
  position: relative;
  display: flex;
}

.breadcrumbs li:before {
  counter-increment: list-item;
  content: '';
  display: block;
  width: calc((var(--counter, 1) * 1rem) - 1rem);
  height: 1px;
  margin-left: -1rem;
}

.breadcrumbs li:last-child {
  .breadcrumb::before {
    background: hsla(var(--precision-ui-tw-whitish));
  }

  .breadcrumb::after {
    display: none;
  }
}

.breadcrumb {
  position: relative;
  padding-left: 2rem;
  // padding-left: calc((var(--counter, 1) * 1rem) + 1rem);

  &::before {
    content: '';
    position: absolute;
    left: 1rem;
    // bottom: 0.5rem;
    top: 0.33rem;
    height: 5px;
    width: 5px;
    background: hsla(var(--precision-ui-tw-whitish-opacity-40));
  }

  &::after {
    content: '';
    position: absolute;
    left: 1.15rem;
    top: 0.65rem;
    height: 150px;
    width: 1px;
    background: transparent;
    // border-left: 1px dashed hsla(var(--precision-ui-tw-whitish-opacity-40));

    background-image: linear-gradient(
      hsla(var(--precision-ui-tw-whitish-opacity-40)) 53%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: right;
    background-size: 1px 10px;
    background-repeat: repeat-y;
  }
}

@property --myColor1 {
  syntax: '<color>';
  initial-value: #012b7a;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #024fe0;
  inherits: false;
}

.primary-gradient {
  // background: linear-gradient(180deg, hsl(var(--precision-ui-tw-navy)) 0%, hsl(var(--precision-ui-tw-sapphire)) 100%);
  // transition: all ease .3s;
  background: linear-gradient(var(--myColor1), var(--myColor2));
  transition: --myColor1 0.3s, --myColor2 0.3s, bottom 0.3s;

  &:hover {
    //   background: linear-gradient(180deg, hsl(var(--precision-ui-tw-sapphire)) 0%, hsl(var(--precision-ui-tw-navy)) 100%)
    // --myColor1: red;
    --myColor1: #024fe0;
    // --myColor2: #E1AF2F;
    --myColor2: #012b7a;
  }
}

.iit-link {
  @extend .link;
  color: hsl(var(--precision-ui-tw-turquoise));
}

// not used
.card-animation1 {
  position: relative;

  &::before {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    content: '';
    background: white;
    transition-timing-function: ease-out;
    transition-duration: 0.15s;
    transition-property: padding, top, left;
  }

  &:hover {
    &::before {
      padding: 4px;
      top: -4px;
      left: -4px;
    }
  }
}

a.doc-with-icon {
  @extend .typo_variant_body;
  position: relative;
  background: hsl(var(--precision-ui-tw-navy-opacity-4));
  color: hsl(var(--precision-ui-tw-navy));
  padding: 8px 16px;
  padding-left: 8px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 24px;

  &::before {
    display: block;
    content: url('/icons/file_download.svg');
    width: 32px;
    height: 32px;
  }

  &:hover {
    background: hsl(var(--precision-ui-tw-navy-opacity-8));
    border: 1px solid hsl(var(--precision-ui-tw-navy-opacity-16));
  }
}

.mix {
  &_mb {
    &_0 {
      margin-bottom: 0 !important;
    }
  }

  &_min-h {
    &_420 {
      @media screen and (min-width: 1280px) {
        min-height: 420px;
      }
    }
  }
}

html {
  --detail-medium-contrast: rgb(234, 234, 234);
  --background-site: rgb(249, 249, 249);
  --text-body: rgb(54, 49, 61);
}

.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: var(--background-site);
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: var(--text-body);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

@keyframes float {
  0% {
    transform: translatey(0px) perspective(400px) rotate3d(1, -1, 0, -8deg);
  }
  50% {
    // transform: translatey(-15px);
    transform: translatey(-15px) perspective(400px) rotate3d(1, -1, 0, 8deg);
  }
  // 90% {
  //   transform: translatey(0px);
  // }
  100% {
    transform: translatey(0px) perspective(400px) rotate3d(1, -1, 0, -8deg);
  }
}

.floating {
  animation: float 6s ease-in-out infinite;
  // animation-delay: 1s;
}
